include LICENSE
include *.md
include *.sh
graft asserts
graft docs
graft pyAgxArm/configs
graft pyAgxArm/demos
graft pyAgxArm/extensions
graft pyAgxArm/scripts
graft tests

prune .github
prune .vscode
global-exclude *.py[cod] __pycache__ .DS_Store
